%html
  %head
    %title
      FixFix
    %script(src="#{url("js/jquery.min.js")}")
    %script(src="#{url("js/jquery.svg.min.js")}")
    %script(src="#{url("js/jquery.svgdom.min.js")}")
    %script(src="#{url("js/jqueryFileTree.js")}")
    %script(src="#{url("js/jquery-ajax-reviver.js")}")
    %script(src="#{url("js/jquery.mousewheel.js")}")
    %script(src="#{url("js/main.js")}")
    :javascript
      $(function() {
        fixfix = new FixFix('#svg');
        new FileBrowser(fixfix, '#bb_browser', '#gaze_browser')
      })
    %link(rel="stylesheet" href="#{url("css/jqueryFileTree.css")}")
    %link(rel="stylesheet" href="#{url("css/style.css")}")
  %body
    #file_browser
      .browser_heading
        Document
      .browser_container
        #bb_browser.browser
      .browser_heading
        Gaze Data
      .browser_container
        #gaze_browser.browser
      %div#fix-options
        %div#eye-options
          Eyes:
          %input#left-eye(type="checkbox" checked="checked")
          %label(for="left-eye") L
          %input#center-eye(type="checkbox" checked="checked")
          %label(for="center-eye") C
          %input#right-eye(type="checkbox" checked="checked")
          %label(for="right-eye") R
        %div#scrap-options
          %div#i-dt-options
            %div
              %input#i-dt(type="checkbox" checked="checked")
              %label(for="i-dt")
                Fixations (I-DT)
            %div
              Dispersion threshold (px)
              %input#dispersion(type="range" min="1" max="100" value="46")
              %input#dispersion_n(type="number" min="1" max="100" value="46")
            %div
              Duration threshold (ms)
              %input#duration(type="range" min="1" max="100" value="60")
              %input#duration_n(type="number" min="1" max="100" value="60")
            %div
              Blink threshold (ms)
              %input#blink(type="range" min="20" max="400" value="70")
              %input#blink_n(type="number" min="20" max="400" value="70")
          %div
            Median smoothing width
            %input#smoothing(type="range" min="1" max="199" value="1" step="2")
            %input#smoothing_n(type="number" min="1" max="199" value="1" step="2")
        %div#scrap-changes
          Fixations
          %div
            In order to change the fixation detection parameters,
            the changes will be scrapped.
          %button#scrap-changes-btn
            Scrap changes
        %div#download
          Download
          %a#tsv-link(href="#" target="_blank")
            TSV
    #svg
